:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
}   


html{
    scroll-behavior: smooth;
}

h2{
    font-size: 80px;
}

h3{
    font-size: 32px;
}

h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 75px 0;
}

.art-gallery__container{
    padding-bottom: 0;
    overflow-y: hidden;
    height: 2200px;
    position: relative;
}

.art-gallery__container::after{
    position: absolute;
    left:0;
    bottom: 0;
    height: 360px;
    content: '';
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.art-gallery-inner-container{
    padding-top: 75px;
    height: 3000px;
    display: flex;
    flex-flow: column wrap;
    column-gap: 36px;
    row-gap:24px;    
}

.gallery-img:nth-child(1), .gallery-img:nth-child(11) {
    padding-top: 50px;
}

.art-gallery-inner-container img{
    height: auto;
    max-width: 456px;
    display: block;
    width: 33.3%;
}


.header__container{
    padding: 51px 0 ;
}

.welcome__container{
    padding-top: 150px;
    padding-bottom: 0;
}

header{
    background-color:var(--bg-dark);
    height: 150px;
    box-sizing: border-box;
}

.header__row {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 466px;
}

.logo a, .logo a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center; 
}

.logo-text {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 5px;
    margin-left: 25px;
    color: #fff;
}

.header__nav {
    max-width: 720px;
    display:flex;
    justify-content: flex-start;
}

.header__nav li {
    margin-right: 55.5px;
}

.header__nav li:last-child {
    margin-right: 0px;
}

.header__nav li a{
    font-family: Roboto;
    font-style: Thin;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color:#fff;
}

.footer__col2-nav li a{
    color: #fff;
}

.header__nav li a:visited, .footer__col2-nav li a:visited, .logo-text:visited {
    color: #fff; 
} 
.header__nav li a:hover,.footer__col2-nav li a:hover, a .logo-text:hover {
    color: var(--font-gold); 
}
.header__nav li a:active,.footer__col2-nav li a:active, a .logo-text:active{
    color: var(--font-gold); 
}

.header__nav li a:focus,.footer__col2-nav li a:focus, a .logo-text:focus {
    color: var(--font-gold); 
}

main{
    flex: 1 1 auto;
}

.bg-section {
  background-color: var(--bg-dark);
}

.welcome{
    min-height: 750px;
    background-image: url("../img/welcome-slider/bg-mona_liza.jpg");
    background-size: 1000px 750px;
    background-repeat: no-repeat;
    background-position: calc(50% + 220px) 0%;
    color: #FFF;
}

.welcome__slider-panel{
    margin-top: 152px;
    display: flex;
    justify-content: flex-end;
    
}

.slider-panel-row{
    height:120px;
    width: 600px;
    background-color: #000;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.slider-panel-numbers{
    font-size: 22px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-content: center; 
    column-gap: 11px;
    align-self: center;
    margin-right: 55px;
}

.carousel-pagination{
    display: flex;
    justify-content: flex-start;
    align-content: center; 
    column-gap: 25px;
    margin-right: 60px;
}

.slide-pagination{
    width: 16px;
    height: 16px;
    background-color: #fff;
    align-self: center;
}

.slide-pagination.active{
    background-color: #D2B183;
}

.arrows{
    display: flex;
    justify-content: flex-start;
    align-content: center; 
    column-gap: 20px;
    
}

.arrow{
    width: 30px;
    min-height: 8px;
    align-self: center;
    background: none;
}

.slide-pagination.active:hover{
    background-color: #fff;
}

.arrow:hover,.slide-pagination:hover{
    filter: invert(54%) sepia(9%) saturate(1208%) hue-rotate(356deg) brightness(98%) contrast(89%);
}

.previous-arrow {
    background-image: url("../svg/previous-arrow.svg");
    background-size: 30px 8px;
    background-repeat: no-repeat;
}

.next-arrow {
    background-image: url("../svg/next-arrow.svg");
    background-size: 30px 8px;
    background-repeat: no-repeat;
}

.title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase; 
}

.gold-title{
    color: var(--font-gold);
}

.white-title{
    color: #fff;
}

.black-title{
    color: #000;
}


.underline-title {
    position: relative;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    right: 0px;
    height: 3px;
    background-color:var(--dark-red);
}

.explore-underline-title::after{
    right: 40px;
}

.welcome__subtitle {
    margin-top:26px;
    margin-bottom: 75px;  
}

.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
}

.block{
    display: block;
}

.button-main-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFF;
    text-align: center;
}

.welcome__button-main{
    width:360px;
    height:75px;
    border-radius: 10px;
    background-color: var(--dark-red);
}

.button-main a{
    height: 100%;
    width: 100%;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

.welcome__button-main:hover, .tickets__buy-but:hover{
    background-color: var(--font-gold);
}

.tickets__buy-but:hover{
    color: #000;
}

.visiting__gallery {
    margin-top:103px;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    gap:78px 60px;
    flex-wrap: wrap;
}

.card {
    flex-shrink: 0;
    flex-grow: 0;
}

.card a{
    display: block;
}

.card__title {
    margin-top:25px;
}

h3.card__title-underline{
    position: relative;
}

h3.card__title-underline::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 140px;
    height: 2px;
    width: 300px;
    background-color:var(--dark-red);
    transition: width .7s linear;
}

.card:hover .card__title-underline::after{
    width: 100%;
}

.card-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000;
}

.card__subtitle {
    margin-top:22px;
}

.card-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000;
}

.card__text {
    margin-top:10px;
}

.card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.beige-color{
    color: #CAAA7D;
}

.explore__row {
    display: flex;
    column-gap: 60px;
}

.explore__col1 {
    align-self: flex-start;
    flex: 660px 0 0;
}

.background__col2{
    background-image: url("../img/explore-slider/after.jpg");
    /* min-height: 700px; */
    background-size: 720px 700px;
    background-repeat: no-repeat;
    width: 720px;
    margin-top:15px;
    position: relative;
}

.explore__col2 {
    max-width: 440px;
    overflow: hidden;
    align-self: flex-end;
}

.explore-slider-runner{
    position: absolute;
    left: 58.5%;
    top: 0;
}

.white__text{
    color:#fff;
}

.black__text{
    color:#000;
}

.explore__text{
    margin-top: 103px;
}

.explore__text p{
    margin-bottom: 25px;
}

.explore__text p:last-child {
    margin-bottom:0px;
}




                                        /* VIDEO */

.current-video{
    position: relative;
    min-width: 100%;
    height: auto;
    max-height: 735px;
}
                                        
/* .video__preview {
    background-image: url("../img/video.jpg");
    min-height: 650px;
    background-size: 1440px 650px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.current-video__viewer{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 735px;
}

.current-video__viewer.full-screen{
    max-height: 100%;
}

.video__play.full-screen{
    left:45%;
    top:38%;
}


.current-video__viewer video{
    height: 100%;
    width: 100%;
}

.video__video-slider{
    margin: 40px 0;
    display: flex;
    column-gap: 42px;
}

.video__video-slider-pagination {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.video-slider-pagination__circle{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #999999;
}

.video-slider-pagination__circle:hover{
    background-color: #710707;
}

.video-slider-pagination__circle.active{
    background: #333333;;
}

.video__video-slider-pagination svg:hover{
     filter: invert(66%) sepia(0%) saturate(129%) hue-rotate(184deg) brightness(93%) contrast(86%);
}

.button{
    flex-shrink: 0;
    flex-grow: 0;
    background: none;
}

.video__panel {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    height:85px;
    background-color: #000;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    column-gap: 50px;
    padding: 0 30px;
}

.video__play {
    position: absolute;
    left: 42.5%;
    top: 29%;
    background-image: url("../svg/play.svg");
    background-size: 220px;
    width: 220px;
    min-height: 220px;
}


.video__sm-play {
    background-image: url("../svg/sm-play.svg");
    background-size: 23px 30px;
    width: 23px;
    height: 30px;
}

.pause{
    background-image: url("../svg/sm-play.svg");
}

.play{
    background-image: url("../svg/pause.svg");
}

.video__duration{
    flex-basis: 1570px;
}

.video__volume-status {
    background-size: 38px 30px;
    width: 38px;
    height: 30px;
}


.sound{
    background-image: url("../svg/volume-mute-false.svg");
    background-size: 38px 30px;
}

.mute{
    background-image: url("../svg/volume-mute-tru.svg");
    background-size: 38px 30px;
}

.video__full-screen {
    background-image: url("../svg/full-screen.svg");
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
}

.video__full-screen.open{
    background-image: url("../svg/full-screen-open.svg");
}


.video__full-screen:hover, .video__volume-status:hover, .video__forward:hover,.video__sm-play:hover,.video__back:hover{
    filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(95%) contrast(93%);
}

.video__play:hover{
    filter: invert(97%) sepia(12%) saturate(0%) hue-rotate(163deg) brightness(85%) contrast(80%);
}

.video__volume {
    /* flex-basis: 155px; */
    flex-basis: 260px;
}

.progress{
    background: linear-gradient(to right, #710707 0%, #710707 0%, #C4C4C4 0%, #C4C4C4 100%);
    height: 7px;
    width: 2px;
    outline: none;
    transition: background 0.5s ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.progresss{
    background: linear-gradient(to right, #710707 0%, #710707 47%, #C4C4C4 40%, #C4C4C4 100%);
    height: 7px;
    width: 2px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progresss::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.video__text-content {
    display: flex;
    margin-bottom: 75px;
    column-gap: 115px;
    align-items: center;
}

.tickets__row {
    margin-top: 103px;
    display: flex;
    align-items: flex-start;
}

.tickets__col1 {
    margin-right: 60px;
}

.radiobuts-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}


.tickets__input{
    margin-right: 23px;
    padding: auto 0; 
}

.radiobut input[type=radio] {
	display: none;
}

.radiobut label {
	display: inline-block;
	cursor: pointer;
	position: relative;
    padding-top: auto;
    padding-bottom: auto;
	padding-left: 40px;
	margin-right: 0;
	line-height: 25px;
	user-select: none;
}

.radiobut label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
    top:2px;
	background: url("../svg/rb-empty-bl.svg") 0 0 no-repeat;
}
 
.radiobut input[type=radio]:checked + label:before {
    background: url("../svg/rb-fill-bl.svg") 0 0 no-repeat;
}

.radiobut{
    margin-bottom: 27px;
}
.tickets__col2 {
    margin-right: 215px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-indent{
    margin-bottom: 52px;
}

.tickets__col3 {
    display: flex;
    flex-direction:column;
    flex: 0 0 198px;
}

.group{
    align-self: flex-end;
}

.tickets__title{
    align-self: flex-end;
}

.tickets__group1 {
    margin-top: 27px;
}

.tickets__group2{
    margin-top: 12px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
}

.input__text {
    line-height: 26px;
    text-align: center;
    color: #000;
}

.tickets__counter {
    margin-top: 14px;
}

.tickets__text{
    line-height: 26px;
}
.tickets__counter {
	display: inline-block;
	position: relative;
	width: 150px;
    min-height: 50px;
    border: 3px solid #000;
}

.tickets__counter input[type="number"] {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
    height: 48px;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
    background-color: #fff;
    color:#000;
}

.tickets__counter input[type="number"]::-webkit-outer-spin-button,
.tickets__counter input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.tickets__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.tickets__total{
    align-self: flex-end;
    margin-top: 50px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000;
    text-align: end;
}

.minus {
	position: absolute;
	top: 1px;
	bottom: 1px;
	width: 45px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
}

.plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 45px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
}

.plus:hover,.minus:hover,.text__nickname a:hover{
    color:var(--font-gold);
}

.but {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

.tickets__buy-but{
    align-self: flex-end;
    margin-top: 60px;
    width:175px;
    height:50px;
    border-radius: 2px;
    background-color: #000;
}

.parallax{
    width: 100%;
    height: 400px;
    background-image: url("../img/parallax.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.contacts__row {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts__col {
    margin-top: 5px;
}

.contacts__map{
    object-fit: cover;
    width: 70%;
    height: auto;
    /* height: 100%; */
    
}

#map{

    width: 100%;
    height: 620px;
    max-height: 620px;
}

.contacts__subtitle {
    font-weight: 500;
    letter-spacing: normal;
}

.contacts__address {
    margin-top: 50px;
}

.contacts__address p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    margin-bottom: 25px;
}

.contacts__address p a{
    color:#000;
}

.contacts__address :last-child {
    margin-right: 0px;
}

footer{
    background-color: var(--bg-dark);
    height: 392px;
}

.footer-container-1{
    padding-bottom: 40px;
}

.footer-container-2{
    padding: 35px 0;
}

.footer__row{
    display: flex;
}

.footer__col2-nav {
    height:150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 165px;
    width: 366px;
}

.footer__col1{
    margin-right: 145px;
}

.footer__container2-row{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}


.footer__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFF;
}

.text__year {
    margin-right: 488px;
}

.text__school {
    margin-right: 457px;
}

.text__nickname a{
    color: #fff;
}

.circle-col{
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle{
    border: 1px solid #666666;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 0px #666666);
    width: 48px;
    height: 48px;
}


.social-icon{
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
hr{
    display: block;
    height: 3px;
    background-color: #666666;
}

.footer__col3{
    display: inline-flex;
    align-items: flex-end;
    margin-left: 390px;
    column-gap: 24px;
    margin-bottom: 15px;
}

.footer__youtube {
    background-image: url("../svg/youtube.svg");
}

.footer__instagram {
    background-image: url("../svg/instagram.svg");
}

.footer__facebook {
    background-image: url("../svg/facebook.svg");
}
.footer__twitter {
    background-image: url("../svg/twitter.svg");
}
.footer__pinterest {
    background-image: url("../svg/pinterest.svg");
}

a .circle:hover, a .circle:focus{
    filter: invert(60%) sepia(5%) saturate(2625%) hue-rotate(356deg) brightness(89%) contrast(78%);
}

.header__additional-info{
    display: none;
}


@media (max-width: 1024px) {

   
    h2{
        line-height: 90px;
    }

    .container{
        max-width: 984px;
        margin: 0  20px;
        padding: 60px 0;
    }


                                                /* welcome section,header */
    
    .burger{
        align-self: center;
        display: block;
        background-size: 32px 18px;
        width: 32px;
        height: 18px;
        background-image: url("../svg/burger.svg");
        background-repeat: no-repeat;
    }

    .burger.default{
        background-size: 32px 18px;
        width: 32px;
        height: 18px;
        background-image: url("../svg/burger.svg");
        background-repeat: no-repeat;
    }

    .burger.open{
        background-image: url("../svg/burger-close.svg");
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
    }

    .header__row {
        justify-content: space-between;
        column-gap: 0;
    }

    .header__container{
        padding: 41px 0 ;
    }

    .nav{
        position: absolute;
        top:130px;
        left:-297px;
        width:297px;
        height: 585px;
        background-color: var(--bg-dark);
        transition: 0.5s;
        z-index: 1;
    }

    .nav.open{
        left:0;
    }

    .header__nav{
        flex-direction: column;
        padding-left: 55px;
        padding-top: 35px;
    }

    .header__nav li {
        position: relative;
        margin-bottom:25px ;
    }

    .header__nav li a{
        font-size: 21px;
        line-height: 23px;
    }

    .header__nav li a::after{
        content: "";
        position: absolute;
        left: 113px;
        top:6px;
        width: 12px;
        height: 12px;
        background-image: url("../svg/burger-item-arrow.svg");
        background-size: 12px 12px;
        background-repeat: no-repeat;
    }

    header{
        height: 130px;
    }

    .welcome__container{
        padding-top: 50px;
        padding-bottom: 0;
    }
    

    .opacity-none{
        opacity: 0;
        transition: 0.5s;
    }

    .title {
        font-size: 50px;
        line-height: 75px;
    }

    .welcome {
        min-height: 525px;
        background-size: 700px 525px;
        background-position: calc(50% + 142px) 0%;
    }

    .welcome__title{
        line-height: 90px;
    }

    .subtitle{
        font-size: 24px;
        line-height: 28px;
    }

    .welcome__subtitle{
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .button-main-text {
        font-size: 20px;
        line-height: 23px;
    }
    
    .welcome__button-main{
        width:300px;
        height:60px;
    }

    .welcome__slider-panel {
        margin-top: 76px;
    }

    .slider-panel-row{
        width: 700px;
        padding-left: 224px;
        padding-right: 75px;
    }

    
    .slider-panel-numbers{
        font-size: 20px;
        margin-right: 45px;
    }
    
    .carousel-pagination{
        margin-right: 45px;
    }
    
    .slide-pagination{
        width: 12px;
        height: 12px;
    }

                                                /* visiting section */
    
    
    .gallery {
        justify-content:space-between;
        gap:62px 11%;
        margin:0 11%;
        flex-wrap: wrap;
    }
    
    .visiting__gallery {
        margin-top: 82px;
    }

    .card {
        flex: 40% 1 1;
        max-width: 330px;
    }
    
    .card img{
        display: block;
        /* max-width: 330px; */
        width: 100%;
        height: auto;
    }

    .card-title{
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
    }

    .underline-title::after {
        bottom: -22px;
    }

    h3.card__title-underline::after{
        bottom: -13px;
        width: 45%;
    }

    .card-subtitle {
        font-size: 20px;
        line-height: 23px;
    }

    .card-text {
        font-size: 16px;
        line-height: 19px;
    }
    
                                                /* explore section */
    
    .explore__row {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 63px;
    }

    .block.undo{
        display: none;
        display: inline;
    }

    .explore__col1 {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
    }

    .explore-underline-title::after {
        right: 0;
    }

    .text{
        font-size: 20px;
        line-height: 36px;
    }

    .background__col2{
        margin: 0 132px;
        background-size: 100% auto;
    }

    .explore__col2 {
        max-width: 61.1%;
        overflow: hidden;
    }

    .explore-slider-runner{
        position: absolute;
        left: 58.5%;
        top: 0;
    }

    .explore__text{
        margin-top: 83px;
    }

    .display{
        display: block;
    }

    .display-none{
        display: none;
        background: none;
    }

    .explore__text p{
        margin-bottom: 0;
    }


                                                /* art gallery section */

    .art-gallery__container {
         height: 1460px;
    }

    .art-gallery-inner-container {
        padding-top: 60px;
        height: 2000px;
    }   

    .art-gallery-inner-container img{
        max-width: 304px;
        display: block;
        width:33.3%;
        height: auto;
    }

                                               /* tickets section */
    .tickets__row {
        margin-top: 83px;
        justify-content: space-between;
        column-gap: 80px;
    }

    .tickets__col3{
        width: 25%;
        margin-right: 5px;
        justify-content: flex-start;
    }

    .tickets__col1{
        margin: 0;
        max-width: 700px;
        width: 85%;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .tickets__col1 img{
        max-width: 700px;
        max-height: 440px;
        width: 100%;
        height: auto;
    }

    .tickets__title,.group,.tickets__total,.tickets__buy-but{
            align-self: flex-start;
    }
    .tickets__text.text{
            font-size: 22px;
            line-height: 26px;
    }

    .tickets__counter {
        display: inline-block;
        position: relative;
        width: 175px;
        min-height: 50px;
        border: 3px solid #000;
    }

    .tickets__counter {
        margin-top: 10px;
    }

    .tickets__group2{
        margin-top: 25px;
    }

    .tickets__total{
        margin-top: 21px;
        font-size: 28px;
        text-align: start;
    }

    .total{
        display: inline-flex;
        width:35%;
        justify-content: flex-end;
    }
    .tickets__buy-but {
        margin-top: 69px;
    }

                                               /* contacts section */
    .contacts__row {
        margin-top: 83px;
        column-gap: 16px;
        row-gap: 40px;
        justify-content: flex-start;
    }

    .contacts__col {
        margin-top: 0;
        max-width: 270px;
        flex-shrink: 1;
        flex-grow: 1;
        width: 270px;
        flex-basis: 220px;
    }

    .contacts__map{
        width: 70%;
        height: auto;
    }


    .contacts__row img{
        width:101%;
        height: auto;
    }

    .contacts__subtitle {
        font-weight: 600;
    }

    .contacts__address p {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
    }

    .contacts__address {
        margin-top: 35px;
    }
                                              /* footer */
    .footer-container-1 {
        padding-top: 54px;
        padding-bottom: 37px;
    }

    .footer__container2-row {
        justify-content: flex-start;
        align-content: center;
    }

    .footer-container-2 {
        padding: 50px 0;
    }
    
    .footer__col1 {
        margin-top: 2px;
        margin-right: 40px;
    }

    .footer__col2-nav{
        padding-top:17px;
        column-gap: 120px;
        row-gap: 28px;
        width: 313px;
    }

    .footer__col3{
        margin-left: 92px;
        column-gap: 24px;
        margin-top:93px ;
    }
    
    .footer__text {
        line-height: 22px;
    }

    .text__year {
        margin-right: 260px;
    }

    .text__school {
        margin-right: 229px;
    }

    footer {
        height: 368px;
    }
    

                                                                /* VIDEO */

    .current-video{
        width: 100%;
        height: auto;
        max-height: 504px;
    }

    .video__text-content{
        margin-bottom: 40px;
    }

    .video__preview {
        width: 100%;
        height: 444px;
        min-height: 0;
        max-height:444px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video__play {
        min-height: 152px;
        align-self: center;
        background-size:100%;
        height: 20%;
        width: 152px;
        max-height: 152px;
        background-repeat: no-repeat;
    }
    
    .video__panel {
        width: 100%;
        height: 60px;
        justify-content: flex-start;
        align-items: center;
        column-gap: 31px;
        padding: 0 40px;
    }

    .video__duration {
        max-width:564px;
    }

    .video__volume-status {
        background-size: 26px 20px;
        width: 26px;
        height: 20px;
    }

    .video__volume {
        width:155px;
    }
    
    .progress{
        height: 5px;
    }

    .video__full-screen {
        background-size: 26px 26px;
        width: 26px;
        height: 26px;
    }

    .video__video-slider{
        height: 170px;
    }

    .video__video-slider iframe{
        height: auto;
    }
}


@media (max-width: 768px) {

                                           /* HEADER, WELCOME SECTION  */
    .title {
        font-size: 40px;
        /* line-height: 60px; */
    }

    .subtitle {
        font-size: 20px;
        line-height: 23px;
    }

    h2{
        line-height: 60px;
    }

    .container{
        max-width: 728px;
        padding: 40px 0;
    }

    .header__container {
        padding: 35px 0;
    }

    .burger{
        margin-top: -13px;
    }

    header {
        height: auto;
    }

    .welcome {
        min-height: 546px;
        background-size: 95% auto;
        background-image: url("../img/welcome-slider/1.jpg");
        background-repeat: no-repeat;
        background-position: 50% 67%;
    }

    .welcome__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        row-gap: 592px;
    }

    .welcome__subtitle {
        margin-bottom: 0;
    }

    .welcome__slider-panel {
        margin-top: 0;
    }
    
    .welcome__title {
        margin-top: -10px;
        line-height:  60px;
        text-align: center;
    }    

    .welcome__button-main{
        display: none;
    }

    .slider-panel-row {
        height: 40px;
        width: 401px;
        background-color: #000;
        padding: 0;
        font-size: 22px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .welcome__slider-panel{
        margin: 30px 0;
    }



                                /* VIRTUAL TOUR  */
    .underline-title::after {
        bottom: -15px;
    }

    .gallery {
        gap: 38px 56px;
        margin: 0 56px;
    }

    .visiting__gallery{
        margin-top: 55px;
        margin-bottom: 40px;
    }

    .card-title {
        font-size: 22px;
        line-height: 24px;
    }

    h3.card__title-underline::after {
        bottom: -11.5px;
        width: 54%;
    }

    .card-subtitle {
        font-size: 18px;
        line-height: 21px;
    }
    
                                         /* PICTURE EXPLORE  */

  .explore__row{
      margin-top: -7px;
  }
  .explore__text{
      display: none;
  }


                                          /* VIDEO SECTION  */
.video__text-content{
      margin-top: -9px;
  }
  .video__text-content {
    margin-bottom: 11px;
}

.video__preview {
    width: 100%;
    height: 329px;
    min-height: 0;
    max-height: 329px;
}

.current-video{
    position: relative;
}

.video__duration {
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 0;
    top:327px;
}

.video__video-slider-pagination{
margin-bottom: 40px;
column-gap: 18px;
}

.video__panel {
    height: 56px;
    column-gap: 35px;
    padding: 0 30px;
    padding-top: 2px;
}

.video__volume {
    flex-basis: 486px;
}
.video__play {
    min-height: 80px;
    align-self: center;
    background-size: 100%;
    height: 20%;
    width: 80px;
    max-height: 80px;
    background-repeat: no-repeat;
}

.video__video-slider {
    margin: 20px 0;
    height: 199px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
}

.video__video-slider iframe {
    width: 50%;
    height: auto;
}

.video__video-slider iframe:nth-child(3){
    display: none;
}

.progresss::-webkit-slider-thumb,.progress::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
}

.progresss{
    background: linear-gradient(to right, #710707 0%, #710707 43%, #C4C4C4 40%, #C4C4C4 100%);
}


                                       /* Gallery  */
.art-gallery__container {
    margin-top: -5px;
    height: 1220px;
}


.art-gallery-inner-container {
    padding-top: 30px;
    height: 3000px;
    gap: 24px;
}

.gallery-img:nth-child(11) {
    padding-top: 0;
}

.art-gallery-inner-container img {
    max-width: 352px;
    display: block;
    width: 50%;
    height: auto;
}


                                       /* Tickets  */
.tickets__row {
    margin-top: 55px;
    justify-content: flex-start;
    column-gap: 60px;
}

.tickets__col1 {
    margin: 0;
    max-width: 444px;
    width: 85%;
    flex-shrink: 1;
    flex-grow: 1;
}

.tickets__col1 img {
    max-width: 444px;
    max-height: 340px;
    width: 100%;
    height: auto;
}

.tickets__group1 {
    margin-top: 36px;
}

.tickets__group2 {
    margin-top: 22px;
}

.tickets__total {
    margin-top: 33px;
}

.tickets__buy-but {
    margin-top: 40px;
}


                                       /* Parallax  */
.parallax {
    width: 100%;
    height: 300px;
    max-height: 100%;
    background-position: center;
}

                                      /* Contacts  */
.contacts .container{
    margin-top: -10px;
}

.contacts__address {
    margin-top: 40px;
}

.contacts__row {
    flex-wrap: wrap;
    margin-top: 57px;
    column-gap: 16px;
    row-gap: 25px;
    justify-content: flex-start;
}

.contacts__address p {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
}
.contacts__map {
    width: 100%;
    margin-bottom: 27px;
}



                                     /* Footer  */
.footer__row {
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.footer__text {
    font-size: 18px;
    line-height: 21px;
}

.footer__col1 {
    margin-top: 2px;
    margin-right: 100px;
}

.footer__col2-nav {
    column-gap: 185px;
    row-gap: 26px;
    width: 393px;
}
.footer__col3 {
    width: 100%;
    margin-left: 41.5%;
    margin-right: 85px;
    column-gap: 24px;
    margin-top: 33px;
}

footer {
    height: auto;
}


.text__year,.text__school,.text__nickname {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    /* width: 33.3%; */
    /* flex-basis: 33.3%; */
}

.text__year{
    margin-right: 110px;
    width:22%;
}

.text__school{
    margin-right: 100px;
    width:65%
}

                                     /*MENU  */


.nav {
    position: absolute;
    top: 130px;
    left: -100%;
    width: 100%;
    height: auto;
}

.header__additional-info{
    display: block;
}

.additional-info__pictures{
    margin: 35px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-top: 0;
}

.additional-info__pictures img:nth-child(1){
    max-width: 658px;
    width:100%;
    height: auto;
}
.additional-info__pictures img:nth-child(2).additional-info__pictures img:nth-child(3){
    max-width: 319px;
    width:50%;
    height:auto;
}

.header__nav {
    padding:10px 55px ;
    padding-top: 15px;
}

.additional-info__social-networks{
    margin:35px 0;
    display: flex;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    align-items: center;

}

}


@media (max-width: 420px) {

                                        /*HEADER,WELCOME,MENU  */

    h2,.title{
        font-size: 28px;
        line-height: 40px;
    }

    .container {
        max-width: 380px;
    }

    .logo-text {
        font-size: 16px;
        line-height: 18px;
    }

    .logo img{
        max-width:29px;
    }

    .burger {
        margin-top: 0;
    }

    .welcome__title {
        margin-top: 0;
    }

    .welcome__container {
        padding: 0;
        padding-top: 5px;
        row-gap: 336px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 19px;
    }

    .welcome {
        min-height:285px;
        background-size: 90% auto;
        background-position: 50% 69%;
    }

    .welcome__slider-panel {
        margin: 20px 0;
    }

    .slider-panel-row {
        height: 40px;
        width: 230px;
    }

    .slider-panel-numbers {
        font-size: 16px;
        margin-right: 25px;
        column-gap: 5px;
    }

    .carousel-pagination {
        column-gap: 10px;
        margin-right: 25px;
    }

    .slide-pagination {
        width: 7px;
        height: 7px;
    }

    .arrows {
        column-gap: 15px;
    }

    .previous-arrow,.next-arrow {
        background-size: 20px 8px;
    }
    .arrow {
        width: 20px;
        min-height: 8px;
    }

    header {
        height: 90px;
    }

    .header__container-padding{
        padding: 32.5px 0;
    }
    .nav {
        top: 90px;
    }
    .header__nav {
        padding: 35px 55px;
    }

    .header__nav li:last-child {
        margin-bottom: 0; 
    }

    .additional-info__pictures{
        margin:0;
        margin-bottom: 20px;
        width: 100%;
        gap:12px;
    }

    .additional-info__pictures img:nth-child(1),.additional-info__pictures img{
        max-width: 96px;
        width:33.3%;
        min-height: 96px;
        height: auto;
        object-fit: cover;
    }

    .header__additional-info hr{
        margin: 0 55px;
    }

    .additional-info__social-networks{
        margin: 22px 0;
        row-gap: 25px;
        column-gap: 5px;
    }

                                        /*VIRTUAL TOUR SECTION  */

    .underline-title::after {
        bottom: -22px;
    }

    .gallery {
        row-gap: 37px;
        margin: 0 50px;
    }
    
    .visiting__gallery {
        margin-top: 60px;
        margin-bottom: -3px;
    }

    .card {
        flex: 40% 1 1;
        max-width: 330px;
        min-width: 280px;
    }

    .card-title {
        font-size: 18px;
        line-height: 20px;
    }


                                       /*EXPLORE SECTION  */
    .explore__row {
        margin-top: 0;
    }

    .background__col2 {
        min-height: 368px;
        background-size: 380px 368px;
        width: 380px;
        height: 368px;
        margin-top: 0;
    }

    .explore__col2 img, .explore__col2 svg{
        height: 368px;
    }

    .explore__col2 {
        max-width: 63.7%;
    }

                                      /*VIDEO SECTION  */

    .video-container{
        padding: 45px 0;
    }
    .current-video{
        margin-top: 20px;
    }

    .video__preview {
        width: 100%;
        height: 172px;
        max-height: 172px;
    }

    .video__duration {
        left: 0;
        top: 172px;
    }

    .progress,.progresss {
        height: 4px;
    }

    .progresss::-webkit-slider-thumb,.progress::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
    }
    
    .progresss{
        background: linear-gradient(to right, #710707 0%, #710707 43%, #C4C4C4 40%, #C4C4C4 100%);
    }
    
    .video__play {
        min-height: 50px;
        height: 20%;
        width: 50px;
        max-height: 50px;
    }

    .video__panel {
        height: 55px;
        column-gap: 30px;
        padding: 0 20px;
    }

    .video__sm-play {
        background-size: 14px 18px;
        width: 14px;
        height: 18px;
    }

    .video__volume-status {
        background-size: 18px 14px;
        width: 18px;
        height: 14px;
    }

    .video__full-screen {
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
    }

    .video__video-slider {
        margin: 40px 0;
        height: 101px;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: space-between;
    }

    .video__video-slider iframe{
        flex-shrink: 1;
        flex-basis: 50%;
        flex-grow: 1;
        width: 0;
    }

    .video-slider-pagination__circle {
        width: 8px;
        height: 8px;
    }

    .video__video-slider-pagination {
        column-gap: 20px;
        margin-bottom: 0;
    }

    .video__video-slider-pagination .svg{
        width: 7px;
        height: 8px;
    }



                                     /*VIDEO SECTION  */
    .art-gallery-inner-container {
        padding-top: 39px;
        height: 3000px;
        gap: 24px;
    }

    .art-gallery-inner-container img {
        max-width: 178px;
    }

    .art-gallery__container {
        margin-top: -5px;
        height: 757px;
    }

    .art-gallery-inner-container {
        height: 1500px;
    }

    .art-gallery__container::after {
        height: 112px;
    }


                                     /*BUY TICKETS SECTION  */


    h4, .text, .tickets__text.text,.but,.contacts__address p,.footer__text,.text__year,.text__school,.text__nickname{
        font-size: 16px;
        line-height: 19px;
    }


    .tickets__row {
        margin-top: 62px;
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .tickets__col1 {
        margin: 0;
        width: 100%;
    }

    .tickets__col1 img {
        max-width: 444px;
        max-height: 160px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .tickets__col3 {
        width: 100%;
        margin-right: 5px;
        justify-content: center;
        align-items: center;
    }

    .tickets__title, .group, .tickets__total, .tickets__buy-but {
        align-self: center;
    }

    .tickets__group1,.tickets__group2 {
        margin-top: 19px;
    }
    .tickets__counter {
        margin-top: 13px;
    }

     .tickets__total{
        margin-top: 38px;
        text-align: center;
    }

    .total {
        width: 12%;
        justify-content: flex-start;
    }
                                    /*CONTACTS SECTION  */

     .contacts .container {
        margin-top:0;
    }        
    
    .contacts__row {
        flex-wrap: wrap;
        margin-top: 63px;
        column-gap: 16px;
        row-gap: 25px;
    }

    .contacts__map {
        margin-bottom: 0;
    }
                                        /*FOOTER  */
    .footer__col1 .logo-text{
        margin-left: 20px;
    }

    .footer__col2-nav {
        height: 130px;
        padding-top: 37px;
        column-gap: 90px;
        row-gap: 30px;
        max-width: 380px;
    }

    .footer__col3 {
        width: 100%;
        justify-content: center;
        margin: 0;
        column-gap: 5px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .footer__container2-row {
        justify-content: space-between;
        align-content: center;
    }

    .text__school{
        display: none;
    }
}