:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
}   


html{
    scroll-behavior: smooth;
}

h2{
    font-size: 80px;
}

h3{
    font-size: 32px;
}

h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 75px 0;
}

.art-gallery__container{
    padding-bottom: 0;
    overflow-y: hidden;
    height: 2200px;
    position: relative;
}

.art-gallery__container::after{
    position: absolute;
    left:0;
    bottom: 0;
    height: 360px;
    content: '';
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.art-gallery-inner-container{
    padding-top: 75px;
    height: 3000px;
    display: flex;
    flex-flow: column wrap;
    column-gap: 36px;
    row-gap:24px;    
}

.gallery-img:nth-child(1), .gallery-img:nth-child(11) {
    padding-top: 50px;
}

.art-gallery-inner-container img{
    width: 456px;
    height: auto;
}


.header__container{
    padding: 51px 0 ;
}

.welcome__container{
    padding-top: 150px;
    padding-bottom: 0;
}

header{
    background-color:var(--bg-dark);
    height: 150px;
    box-sizing: border-box;
}

.header__row {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 466px;
}

.logo a, .logo a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center; 
}

.logo-text {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 5px;
    margin-left: 25px;
    color: #fff;
}

.header__nav {
    max-width: 720px;
    display:flex;
    justify-content: flex-start;
}

.header__nav li {
    margin-right: 55.5px;
}

.header__nav li:last-child {
    margin-right: 0px;
}

.header__nav li a{
    font-family: Roboto;
    font-style: Thin;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color:#fff;
}

.footer__col2-nav li a{
    color: #fff;
}

.header__nav li a:visited, .footer__col2-nav li a:visited, .logo-text:visited {
    color: #fff; 
} 
.header__nav li a:hover,.footer__col2-nav li a:hover, a .logo-text:hover {
    color: var(--font-gold); 
}
.header__nav li a:active,.footer__col2-nav li a:active, a .logo-text:active {
    color: var(--font-gold); 
}

.header__nav li a:focus,.footer__col2-nav li a:focus, a .logo-text:focus {
    color: var(--font-gold); 
}

main{
    flex: 1 1 auto;
}

.bg-section {
  background-color: var(--bg-dark);
}

.welcome{
    min-height: 750px;
    background-image: url("../img/welcome-slider/bg-mona_liza.jpg");
    background-size: 1000px 750px;
    background-repeat: no-repeat;
    background-position: calc(50% + 220px) 0%;
    color: #FFF;
}

.welcome__slider-panel{
    margin-top: 152px;
    display: flex;
    justify-content: flex-end;
    
}

.slider-panel-row{
    height:120px;
    width: 600px;
    background-color: #000;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-content: center;
}

.slider-panel-numbers{
    font-size: 22px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-content: center; 
    column-gap: 13px;
    align-self: center;
    margin-right: 55px;
}

.carousel-pagination{
    display: flex;
    justify-content: flex-start;
    align-content: center; 
    column-gap: 25px;
    margin-right: 60px;
}

.slide-pagination{
    width: 16px;
    height: 16px;
    background-color: #fff;
    align-self: center;
}

.slide-pagination.active{
    background-color: #D2B183;
}

.arrows{
    display: flex;
    justify-content: flex-start;
    align-content: center; 
    column-gap: 20px;
    
}

.arrow{
    width: 30px;
    min-height: 8px;
    align-self: center;
    background: none;
}

.slide-pagination.active:hover{
    background-color: #fff;
}

.arrow:hover,.slide-pagination:hover{
    filter: invert(54%) sepia(9%) saturate(1208%) hue-rotate(356deg) brightness(98%) contrast(89%);
}

.previous-arrow {
    background-image: url("../svg/previous-arrow.svg");
    background-size: 30px 8px;
    background-repeat: no-repeat;
}

.next-arrow {
    background-image: url("../svg/next-arrow.svg");
    background-size: 30px 8px;
    background-repeat: no-repeat;
}

.title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase; 
}

.gold-title{
    color: var(--font-gold);
}

.white-title{
    color: #fff;
}

.black-title{
    color: #000;
}


.underline-title {
    position: relative;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0px;
    height: 3px;
    background-color:var(--dark-red);
}

.explore-underline-title::after{
    right: 40px;
}

.welcome__subtitle {
    margin-top:26px;
    margin-bottom: 75px;  
}

.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
}

.block{
    display: block;
}

.button-main-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFF;
    text-align: center;
}

.welcome__button-main{
    width:360px;
    height:75px;
    border-radius: 10px;
    background-color: var(--dark-red);
}

.button-main a{
    height: 100%;
    width: 100%;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

.welcome__button-main:hover, .tickets__buy-but:hover{
    background-color: var(--font-gold);
}

.tickets__buy-but:hover{
    color: #000;
}

.visiting__gallery {
    margin-top:103px;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    gap:78px 60px;
    flex-wrap: wrap;
}

.card {
    flex-shrink: 0;
    flex-grow: 0;
}

.card a{
    display: block;
}

.card__title {
    margin-top:25px;
}

h3.card__title-underline{
    position: relative;
}

h3.card__title-underline::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 140px;
    height: 2px;
    width: 300px;
    background-color:var(--dark-red);
    transition: width .7s linear;
}

.card:hover .card__title-underline::after{
    width: 100%;
}

.card-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000;
}

.card__subtitle {
    margin-top:21px;
}

.card-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000;
}

.card__text {
    margin-top:10px;
}

.card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.beige-color{
    color: #CAAA7D;
}

.explore__row {
    display: flex;
    column-gap: 60px;
}

.explore__col1 {
    align-self: flex-start;
    flex: 660px 0 0;
}

.background__col2{
    background-image: url("../img/explore-slider/after.jpg");
    min-height: 700px;
    background-size: 720px 700px;
    background-repeat: no-repeat;
    width: 720px;
    margin-top:15px;
    position: relative;
}

.explore__col2 {
    max-width: 440px;
    overflow: hidden;
    align-self: flex-end;
}

.explore-slider-runner{
    position: absolute;
    left: 58.5%;
    top: 0;
}

.white__text{
    color:#fff;
}

.black__text{
    color:#000;
}

.explore__text{
    margin-top: 103px;
}

.explore__text p{
    margin-bottom: 25px;
}

.explore__text p:last-child {
    margin-bottom:0px;
}

.video__preview {
    background-image: url("../img/video.jpg");
    min-height: 650px;
    background-size: 1440px 650px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__video-slider{
    margin: 40px 0;
    display: flex;
    column-gap: 42px;
}

.video__video-slider-pagination {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.video-slider-pagination__circle{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #999999;
}
.video-slider-pagination__circle:hover{
    background-color: #710707;
}

.video-slider-pagination__circle.active{
    background: #333333;;
}

.video__video-slider-pagination svg:hover{
     filter: invert(66%) sepia(0%) saturate(129%) hue-rotate(184deg) brightness(93%) contrast(86%);
}

.button{
    flex-shrink: 0;
    flex-grow: 0;
    background: none;
}

.video__panel {
    display: flex;
    height:85px;
    background-color: #000;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
    padding: 0 30px;
}

.video__play {
    background-image: url("../svg/play.svg");
    background-size: 220px;
    width: 220px;
    min-height: 220px;
}

.video__sm-play {
    background-image: url("../svg/sm-play.svg");
    background-size: 23px 30px;
    width: 23px;
    height: 30px;
}

.video__duration{
    flex-basis: 930px;
}

.video__volume-status {
    background-image: url("../svg/volume-status.svg");
    background-size: 38px 30px;
    width: 38px;
    height: 30px;
}

.video__full-screen {
    background-image: url("../svg/full-screen.svg");
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
}

.video__full-screen:hover, .video__volume-status:hover, .video__forward:hover,.video__sm-play:hover,.video__back:hover{
    filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(95%) contrast(93%);
}

.video__play:hover{
    filter: invert(97%) sepia(12%) saturate(0%) hue-rotate(163deg) brightness(85%) contrast(80%);
}

.video__volume {
    flex-basis: 155px;
}

.progress{
    background: linear-gradient(to right, #710707 0%, #710707 54%, #C4C4C4 40%, #C4C4C4 100%);
    height: 7px;
    width: 2px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.progresss{
    background: linear-gradient(to right, #710707 0%, #710707 47%, #C4C4C4 40%, #C4C4C4 100%);
    height: 7px;
    width: 2px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progresss::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.video__text-content {
    display: flex;
    margin-bottom: 75px;
    column-gap: 115px;
    align-items: center;
}

.tickets__row {
    margin-top: 103px;
    display: flex;
    align-items: flex-start;
}

.tickets__col1 {
    margin-right: 60px;
}

.radiobuts-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}


.tickets__input{
    margin-right: 23px;
    padding: auto 0; 
}

.radiobut input[type=radio] {
	display: none;
}

.radiobut label {
	display: inline-block;
	cursor: pointer;
	position: relative;
    padding-top: auto;
    padding-bottom: auto;
	padding-left: 40px;
	margin-right: 0;
	line-height: 25px;
	user-select: none;
}

.radiobut label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
    top:2px;
	background: url("../svg/rb-empty-bl.svg") 0 0 no-repeat;
}
 
.radiobut input[type=radio]:checked + label:before {
    background: url("../svg/rb-fill-bl.svg") 0 0 no-repeat;
}

.radiobut{
    margin-bottom: 27px;
}
.tickets__col2 {
    margin-right: 215px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-indent{
    margin-bottom: 52px;
}

.tickets__col3 {
    display: flex;
    flex-direction:column;
    flex: 0 0 198px;
}

.group{
    align-self: flex-end;
}

.tickets__title{
    align-self: flex-end;
}

.tickets__group1 {
    margin-top: 27px;
}

.tickets__group2{
    margin-top: 12px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
}

.input__text {
    line-height: 26px;
    text-align: center;
    color: #000;
}

.tickets__counter {
    margin-top: 14px;
}

.tickets__text{
    line-height: 26px;
}
.tickets__counter {
	display: inline-block;
	position: relative;
	width: 150px;
    min-height: 50px;
    border: 3px solid #000;
}

.tickets__counter input[type="number"] {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background-color: #fff;
    color:#000;
}

.tickets__counter input[type="number"]::-webkit-outer-spin-button,
.tickets__counter input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.tickets__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.tickets__total{
    align-self: flex-end;
    margin-top: 50px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000;
}

.minus {
	position: absolute;
	top: 1px;
	bottom: 1px;
	width: 45px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
}

.plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 45px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
}

.plus:hover,.minus:hover,.text__nickname a:hover{
    color:var(--font-gold);
}

.but {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

.tickets__buy-but{
    align-self: flex-end;
    margin-top: 60px;
    width:175px;
    height:50px;
    border-radius: 2px;
    background-color: #000;
}

.parallax{
    width: 100%;
    height: 400px;
    background-image: url("../img/parallax.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-size: 38px 30px; */
}


.contacts__row {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts__col {
    margin-top: 5px;
}

.contacts__subtitle {
    font-weight: 500;
    letter-spacing: normal;
}

.contacts__address {
    margin-top: 50px;
}

.contacts__address p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    margin-bottom: 25px;
}

.contacts__address p a{
    color:#000;
}

.contacts__address :last-child {
    margin-right: 0px;
}

footer{
    background-color: var(--bg-dark);
    height: 392px;
}

.footer-container-1{
    padding-bottom: 40px;
}

.footer-container-2{
    padding: 35px 0;
}

.footer__row{
    display: flex;
}

.footer__col2-nav {
    height:150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 165px;
    width: 366px;
}

.footer__col1{
    margin-right: 145px;
}

.footer__container2-row{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}


.footer__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFF;
}

.text__year {
    margin-right: 488px;
}

.text__school {
    margin-right: 457px;
}

.text__nickname a{
    color: #fff;
}

.circle-col{
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle{
    border: 1px solid #666666;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 0px #666666);
    width: 48px;
    height: 48px;
}


.social-icon{
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
hr{
    display: block;
    height: 3px;
    background-color: #666666;
}

.footer__col3{
    display: inline-flex;
    align-items: flex-end;
    margin-left: 390px;
    column-gap: 24px;
    margin-bottom: 15px;
}

.footer__youtube {
    background-image: url("../svg/youtube.svg");
}

.footer__instagram {
    background-image: url("../svg/instagram.svg");
}

.footer__facebook {
    background-image: url("../svg/facebook.svg");
}
.footer__twitter {
    background-image: url("../svg/twitter.svg");
}
.footer__pinterest {
    background-image: url("../svg/pinterest.svg");
}

a .circle:hover, a .circle:focus{
    filter: invert(60%) sepia(5%) saturate(2625%) hue-rotate(356deg) brightness(89%) contrast(78%);
}
